################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ImageResizing/.vs/ImageResizing/v16
/ImageResizing/ImageResizing/bin/Debug/netcoreapp3.0
/ImageResizing/ImageResizing/obj
